bin/
obj/
bridge.log
*.userprefs
.suo
*.nupkg
.vs
*.user
/Docker/*/binaries
/Docker/*/CONTAINER_ID
*.so
_ReSharper.Caches/
Philadelphia.Demo.Client/packages
Philadelphia.Demo.Client/Bridge/www
*.tar.gz
Docker/PhiladelphiaDemo/*.tar.gz
obj_netfx/
.vscode
log/
packages/
/3rdPartyLibraries/nuget/nuget.exe
~*
**/output/*.js
**/output/*.html
**/output/readme.txt
