<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="17.4.0" targetFramework="net451" />
  <package id="Bridge.Core" version="17.4.0" targetFramework="net451" />
  <package id="Bridge.Html5" version="17.4.0" targetFramework="net451" />
  <package id="Bridge.Min" version="17.4.0" targetFramework="net451" />
  <package id="Bridge.Newtonsoft.Json" version="1.11.0" targetFramework="net451" />
  <package id="Philadelphia.Common.AsBridgeDotNet" version="0.20.11.1" targetFramework="net451" />
  <package id="Philadelphia.StaticResources" version="0.20.11.1" targetFramework="net451" />
  <package id="Philadelphia.Web" version="0.20.11.1" targetFramework="net451" />
</packages>